.dark-button
{
    display: inline-block;
    margin: 10px auto;
    border: 2px solid #eee;
    padding: 8px 20px;
    font-size: 18px;
}

#div-for-local{
    width: 300px;
    height: 200px;
    background-color: rgb(138, 161, 204);
}

#div-for-cookie{
    width: 300px;
    height: 200px;
    background-color: rgb(245, 242, 152);
}

.margin-top{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: left; */
}

#count{
    width: 50px;
}

#canvas{
    border: 2px solid #3f3f3f;
}


#elem, #elem2{
    height: 220px;
    width: 200px;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

#parent{
    border: 2px solid #3f3f3f;
    height: 95px;
    width: 95px;
    text-align: center;
    margin: 5px;
    padding: 5px;
    width: 200px;
    height: 50px;
}

#cart-div{
    text-align: center;
    color: rgb(33, 26, 39);
    font-family: 'Neris';
    src: local(''),
    url('..//fonts/Neris-Light.otf') format('otf');
}

.flex{
    display: flex;
    flex-direction: row;
    align-items:stretch;
}
